In [1]:
import pandas as pd
import numpy as np
import sqlite3 as sq

In [3]:
gols = pd.read_excel('../data/interim/Gols.xlsx')

In [4]:
gols

,Time mandante,Time Visitante,Time Marcador,Tipo,Jogador,Primeiro/Segundo Tempo,Minuto
0,Ceara,Fortaleza,Ceara,NR,Thiago Galhardo do Nascimento Rocha,1,14
1,Ceara,Fortaleza,Ceara,NR,Wanderson Felippe Cardoso dos Santos,1,17
2,Ceara,Fortaleza,Fortaleza,PN,Paulo Roberto Valoura Junior,1,46
3,Fluminense,Internacional,Fluminense,NR,Yony Alexander Gonzalez Copete,2,12
4,Fluminense,Internacional,Fluminense,CT,Natanael Batista Pimenta,2,22
...,...,...,...,...,...,...,...
58,Sao Paulo,Corinthians,Sao Paulo,PN,Reinaldo Manoel da Silva,2,20
59,Vasco da Gama,Fortaleza,Vasco da Gama,PN,Glaybson Yago Souza Lisboa,2,22
60,Athletico Paranaense,Flamengo,Flamengo,NR,Bruno Henrique Pinto,1,45
61,Athletico Paranaense,Flamengo,Flamengo,NR,Bruno Henrique Pinto,2,46
62,Ceara,Avai,Ceara,NR,Bergson Gustavo Silveira da Silva,2,44

In [8]:
gols.to_csv('../data/tables/gols.csv')

cartaoAmarelo = pd.read_excel('../data/interim/Cartoes amarelos.xlsx')
cartaoAmarelo.dropna(subset=['Minuto'], inplace=True)
cartaoAmarelo.to_csv('../data/tables/cartoes_amarelos.csv')

cartaoVermelho = pd.read_excel('../data/interim/Cartoes vermelhos.xlsx')
cartaoVermelho.dropna(subset=['Minuto'], inplace=True)
cartaoVermelho.to_csv('../data/tables/cartoes_vermelhos.csv')

jogadores = pd.read_excel('../data/interim/Jogadores.xlsx')
jogadores.to_csv('../data/tables/jogadores.csv')

partidas = pd.read_excel('../data/interim/Partidas.xlsx')
partidas.dropna(subset=['Time mandante'], inplace=True)
partidas['Numero rodada'] = partidas['Numero rodada'].astype('int32')
partidas.to_csv('../data/tables/partidas.csv')

subs = pd.read_excel('../data/interim/Substituicoes.xlsx')
subs.dropna(subset=['Minuto'], inplace=True)
subs.to_csv('../data/tables/substituicoes.csv')

treinadores = pd.read_excel('../data/interim/Treinador.xlsx')
treinadores.to_csv('../data/tables/treinadores.csv')

In [11]:
treinadores

,Treinador,Rodada 1,Rodada 2,Rodada 3,Rodada 4,Rodada 5,Rodada 6,Rodada 7,Rodada 8,Rodada 9,...,Rodada 29,Rodada 30,Rodada 31,Rodada 32,Rodada 33,Rodada 34,Rodada 35,Rodada 36,Rodada 37,Rodada 38
0,Rogerio Ceni,Fortaleza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Enderson Alves Moreira,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alexi Stival,Sao Paulo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Eduardo de Souza Barroca,Botafogo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Rodrigo Marques de Santana,Atletico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Eugenio Machado Souto,Avai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NEY FRANCO DA SILVEIRA JUNIOR,Internacional,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Odair Hellmann,Chapecoense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,ABEL CARLOS DA SILVA BRAGA,Flamengo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,LUIZ ANTONIO VENKER MENEZES,Cruzeiro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Renato Portaluppi,Gremio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Jorge Luis Sampaoli Moya,Santos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,MARCELO RIBEIRO CABO,CSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Fabio Luiz Carille De Araujo,Corinthians,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Roger Machado Marques,Bahia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,MARCOS GOMES VALADARES,Vasco da Gama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,TIAGO RETZLAFF NUNES,Athletico Paranaense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,LUIZ FELIPE SCOLARI,Palmeiras,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,FERNANDO DINIZ SILVA,Fluminense,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,CLAUDINEI DOS SANTOS OLIVEIRA,Goias,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Marcos Vinicius Santos Goncalves,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Wanderley Luxemburgo Da Silva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Jorge Fernando Pinheiro De Jesus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Adilson Dias Batista,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Evando Spinasse Camillato,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Ricardo Colbachini,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
con = sq.connect('GOLDB.db')
gols.to_sql("Gols", con, if_exists="replace")
cartaoAmarelo.to_sql("CartaoAmarelo", con, if_exists="replace")
cartaoVermelho.to_sql("CartaoVermelho", con, if_exists="replace")
jogadores.to_sql("Jogadores", con, if_exists="replace")
partidas.to_sql("Partidas", con, if_exists="replace")
subs.to_sql("Substituicoes", con, if_exists="replace")
treinadores.to_sql("Treinador", con, if_exists="replace")
con.commit()

/Users/gds/opt/miniconda3/lib/python3.9/site-packages/pandas/core/generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [10]:
con = sq.connect('GOLDB.db')
cur = con.cursor()
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
cur.fetchall()

[('Gols',),
 ('CartaoAmarelo',),
 ('CartaoVermelho',),
 ('Jogadores',),
 ('Partidas',),
 ('Substituicoes',),
 ('Treinador',)]

In [12]:
gols

,Time mandante,Time Visitante,Time Marcador,Tipo,Jogador,Primeiro/Segundo Tempo,Minuto
0,Ceara,Fortaleza,Ceara,NR,Thiago Galhardo do Nascimento Rocha,1,14
1,Ceara,Fortaleza,Ceara,NR,Wanderson Felippe Cardoso dos Santos,1,17
2,Ceara,Fortaleza,Fortaleza,PN,Paulo Roberto Valoura Junior,1,46
3,Fluminense,Internacional,Fluminense,NR,Yony Alexander Gonzalez Copete,2,12
4,Fluminense,Internacional,Fluminense,CT,Natanael Batista Pimenta,2,22
...,...,...,...,...,...,...,...
58,Sao Paulo,Corinthians,Sao Paulo,PN,Reinaldo Manoel da Silva,2,20
59,Vasco da Gama,Fortaleza,Vasco da Gama,PN,Glaybson Yago Souza Lisboa,2,22
60,Athletico Paranaense,Flamengo,Flamengo,NR,Bruno Henrique Pinto,1,45
61,Athletico Paranaense,Flamengo,Flamengo,NR,Bruno Henrique Pinto,2,46
62,Ceara,Avai,Ceara,NR,Bergson Gustavo Silveira da Silva,2,44

In [13]:
cur.execute("SELECT Jogador FROM Gols;").fetchall()

[('Thiago Galhardo do Nascimento Rocha',),
 ('Wanderson Felippe Cardoso dos Santos',),
 ('Paulo Roberto Valoura Junior',),
 ('Yony Alexander Gonzalez Copete',),
 ('Natanael Batista Pimenta',),
 ('Edenilson Andrade dos Santos',),
 ('Everton Cardoso da Silva ',),
 ('Hudson Rodrigues dos Santos ',),
 ('Carlos Andres Sanchez Arcosa',),
 ('Lucas Verissimo da Silva',),
 ('Gustavo Henrique Vernes',),
 ('Eduardo Colcenti Antunes',),
 ('Yeferson Julio Soteldo Martinez',),
 ('Yeferson Julio Soteldo Martinez',),
 ('Kayke Moreno de Andrade Rodrigues',),
 ('Fabio Santos Romeu',),
 ('Feliciano Brizuela Baez',),
 ('Ricardo de Oliveira',),
 ('Everaldo Stum',),
 ('Everaldo Stum',),
 ('Pedro Rocha Neves',),
 ('Bruno Henrique Pinto',),
 ('Bruno Henrique Pinto',),
 ('Gabriel Barbosa Almeida',),
 ('Eduardo Colcenti Antunes',),
 ('Felipe Jonatan Rocha Andrade',),
 ('Everton Sousa Soares',),
 ('Gilberto Oliveira Souza Junior',),
 ('Gilberto Oliveira Souza Junior',),
 ('Gilberto Oliveira Souza Junior',),
 ('Ricardo Bueno da Silva',),
 ('Leandro Carvalho da Silva',),
 ('Joao Lucas Cardoso',),
 ('Ricardo Bueno da Silva',),
 ('Arthur Caike do Nascimento Cruz',),
 ('Pedro Victor Delmino da Silva',),
 ('Artur Victor Guimaraes',),
 ('Jose Rogerio de Oliveira Melo',),
 ('Clayson Henrique da Silva Vieira',),
 ('Bruno Guimaraes Rodriguez Moura',),
 ('Marco Gaston Ruben',),
 ('Werley Ananias da Silva',),
 ('Maycon Vinicius Ferreira da Cruz',),
 ('Bruno Cesar Zanaki',),
 ('Jose Rafael Vivian',),
 ('Marcos Luis Rocha Aquino',),
 ('Jose Rafael Vivian',),
 ('Bruno Henrique Corsini',),
 ('Rafael Vaz dos Santos',),
 ('Anderson Vital da Silva',),
 ('Fernando Camilo Farias',),
 ('Rafael Galhardo de Souza',),
 ('Maicon Thiago Pereira de Souza',),
 ('Franco Matias Di Santo',),
 ('Eduardo Gabriel Aquino Cossa',),
 ('Alisson Euler de Freitas Castro',),
 ('Alex Paulo Menezes Santana',),
 ('Marcelo da Conceiçao Benevenuto Malaquias',),
 ('Reinaldo Manoel da Silva',),
 ('Glaybson Yago Souza Lisboa',),
 ('Bruno Henrique Pinto',),
 ('Bruno Henrique Pinto',),
 ('Bergson Gustavo Silveira da Silva',)]