In [1]:
import pandas as pd

In [3]:
desempenho = pd.read_pickle('/content/drive/MyDrive/MC536 - Grupo GOLDB/DataFrames/estatisticasDeDesempenho.pkl')
golStats = pd.read_pickle('/content/drive/MyDrive/MC536 - Grupo GOLDB/DataFrames/estatisticasDeGol.pkl')
formacoes = pd.read_pickle('/content/drive/MyDrive/MC536 - Grupo GOLDB/DataFrames/formacoesUsadas.pkl')

In [4]:
desempenho

      id  ...                                   forma
0    127  ...  WLDWLWWDWWDWLWWWWWWWWDWWWWWWDWWWDWWWWL
1    128  ...  WWDWLDWWWWWWWLLDWDLLDWWWDWLDWWWWDWLWLW
2    121  ...  WDWWWWWWWDLDDDDLWWWWWDDLWWDWWWWDDLLLWW
3    130  ...  LDLDLWLWWWDDDLDWDWWWWLDWWLLWWWWWLWLWWL
4    134  ...  WLDWLLWLLWWWLWLLWDLDWDWDLWDWDWDWWWWDWD
5    126  ...  WWDWDLDDDDWWWWWLDLDWLDWDWLWWLWLLDDWLWW
6    119  ...  LWLWWDWLWLDWLDWLWWWWLDDLDWLWDLLWDDLWLW
7    131  ...  LWDDWWDLWDWDWDWDWDLWWWDDLDLDLLWDDLWLWL
8    151  ...  WLLWWLWWLDDLLLDWLLLWWWWLWDDLDWLLDWWLLW
9    154  ...  LWLLWDLLWWDLLWLDWLDLLWLWLLWDWDLWWDWWDW
10   133  ...  LLDLDDLWWLWDDWLWLLWDLWLDWWWDLDLWDDLWDD
11   118  ...  WLWLDWWDLLDDWDDWWWDLWWLDLWLLLDDLDLDWDL
12   124  ...  LLWLWLLDDDLLWLLLWLWLDWWDWLLDLDWLDWWDDW
13  1062  ...  WWWLWLWLDWDDWWLLLLLLWLDLLDWLLDWDDLDWWL
14   120  ...  LWWWLLWWLDLLWWLDLWDLLLLWLLWLLLLWLWWLLD
15   129  ...  WLLLWWLDLDWLWWLLLDDLDLLLWLWDWLWLLDLDLD
16   135  ...  LWWLLLDDLDDLLDWDWLLLDLDDDWWDWDDDDLLLLL
17   150  ...  LDDDLWLLLLLDDLWDLWDWLLWWLDLLWLLLLLWLLL
18   132  ...  WLDLLWLLDLLDDLWDLLLLDLLLDLDDWLDLWWLLWD
19   145  ...  LDLDDLLDLLDLLDLDWLWWLLLDLLLLLLLLDLLDLD

[20 rows x 8 columns]

In [5]:
golStats

      id                 nome  ... mediaGolsContraCasa mediaGolsAfavorCasa
0    127             Flamengo  ...                 1.6                 2.9
1    128               Santos  ...                 0.8                 2.3
2    121            Palmeiras  ...                 1.1                 2.1
3    130               Gremio  ...                 1.4                 2.0
4    134  Atletico Paranaense  ...                 1.3                 1.4
5    126            Sao Paulo  ...                 0.8                 1.2
6    119        Internacional  ...                 0.8                 1.5
7    131          Corinthians  ...                 0.9                 1.3
8    151                Goias  ...                 0.8                 1.6
9    154         Fortaleza EC  ...                 1.3                 1.4
10   133        Vasco DA Gama  ...                 1.0                 1.1
11   118                Bahia  ...                 1.1                 1.3
12   124           Fluminense  ...                 1.1                 0.9
13  1062          Atletico-MG  ...                 0.9                 1.5
14   120             Botafogo  ...                 0.6                 1.0
15   129                Ceara  ...                 0.7                 1.2
16   135             Cruzeiro  ...                 0.7                 0.7
17   150                  CSA  ...                 0.4                 0.9
18   132       Chapecoense-sc  ...                 0.8                 0.8
19   145                 Avai  ...                 0.4                 0.5

[20 rows x 12 columns]

In [6]:
formacoes

   idTime  nomeTime formacao vezesJogadas
0     127  Flamengo  4-2-3-1           25
1     127  Flamengo  4-1-4-1            3
2     127  Flamengo    4-4-2            3
3     127  Flamengo  4-2-2-2            3
4     127  Flamengo  4-1-3-2            2
..    ...       ...      ...          ...
95    145      Avai    5-3-2            2
96    145      Avai    4-5-1            2
97    145      Avai    5-4-1            2
98    145      Avai    4-4-2            2
99    145      Avai  3-4-2-1            1

[100 rows x 4 columns]

In [7]:
#Salva em csv
formacoes.to_csv('/content/drive/MyDrive/MC536 - Grupo GOLDB/csv_fengda/formacoes.csv', index=False)
desempenho.to_csv('/content/drive/MyDrive/MC536 - Grupo GOLDB/csv_fengda/desempenho.csv', index=False)
golStats.to_csv('/content/drive/MyDrive/MC536 - Grupo GOLDB/csv_fengda/golStats.csv', index=False)